body{
    text-align: center;
    font-family: sans-serif;
}

h1, h2{
    padding: 10px;
}

.option{
    font-size: 18px;
    padding: 10px 15px;
    margin: 15px;
    background-color: cornsilk;
}

.result{
    padding: 10px;
}